[Unit]
Description=Neuron daemon
After=network.target

[Service]
WorkingDirectory=/opt/neuron
TimeoutStopSec=3
ExecStart=/opt/neuron/neuron
Restart=on-failure
RestartSec=5
Group=root
LimitCORE=infinity
ExecStartPre=-/opt/neuron/neuron.sh

[Install]
WantedBy=multi-user.target