name: Build image

on: 
  push:
  release:
    types:
      - published
  workflow_dispatch:

jobs:
  build-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        arch:
          - [aarch64-linux-gnn, aarch64, /opt/externs/libs]
          - [arm-linux-gnueabihf, armv4, /opt/externs/libs]
          - [x86_64-linux-gnu, x86_64, /usr/local]

    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: /tmp/.docker-buildx-cache
          key: docker-buildx
      - uses: docker/setup-buildx-action@v1
      - uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ghcr.io/neuron/${{ matrix.arch[1] }}
      - name: Build base image
        uses: docker/build-push-action@v2
        with:
          platforms: linux/amd64
          load: true
          tags: zhouxiangbetter/build:${{ matrix.arch[1] }}-main
          file: .github/dockerfile/${{ matrix.arch[1] }}_Dockerfile
          context: .
      - name: Push image to docker hub
        run: |
          docker images
          docker push zhouxiangbetter/build:${{ matrix.arch[1] }}-main
      - name: Docker tag ghcr.io image
        run: |
          docker images
          docker tag zhouxiangbetter/build:${{ matrix.arch[1] }}-main ghcr.io/zhoubox/build:${{ matrix.arch[1] }}-main
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name : Push docker image to ghcr.io
        run : docker push ghcr.io/zhoubox/build:${{ matrix.arch[1] }}-main
